
@font-face {
	font-family: kopub;
	src: url('kopub_dotum_medium.otf');
}

* {
	font-family: kopub;
}

p {
}

div .main {
}

div .data {
	padding-bottom: 20%;
	font-size: 5vw;
	width: 100%;
	max-width: 1080px;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
}
