
@font-face {
	font-family: kopub;
	src: url('kopub_dotum_medium.otf');
}

* {
	font-family: kopub;
}

p {
}

div .main {
}

div .data {
	font-size: 5vw;
	width: 100%;
	max-width: 1080px;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

nav#header {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1021;
  transition: all 0.5s;
}

nav#header.scrollUp {
  transform: translateY(-100%);
}

nav#footer {
  background: #fff;
  /* height: 80px; */
  /* line-height: 80px; */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  z-index: 1021;
  transition: all 0.5s;
}

/*nav#footer.scrollDown {
  transform: translateY(100%);
}*/

.fullscreen {
    margin-top: 56px;
}
