
{% extends "index.html" %}

{% block head %}
<title>쓰크롤 - 자유게시판</title>
{% endblock %}

{% block data %}
<h3 style="padding: 3%"> 쓰크롤 - 자유게시판</h3>
<div class="main">
	<div class="data container">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th scope="col" style="width:17%;">글 번호</th>
					<th scope="col">글 제목</th>
				</tr>
			</thead>
			<tbody>
				{% for board in boards %}
				<tr>
					<th scope="row">{{ board.id }}</th>
					<td><a href='/board/{{ board.id }}'>{{ board.title }}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% if user is not none %}
<nav class="navbar bg-primary navbar-dark fixed-bottom">
	<a href="/board/edit" class="btn btn-default btn-block text-light">글 작성</a>
</nav>
{% endif %}

{% endblock %}
