<!doctype html>


<html>
<head>
	<title>scroll!</title>
	<meta name="viewport" content="with=device-width, minimum-scale=0.1, user-scalable=no" />
	<meta name="referrer" content="naver" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
	<h1 style="padding-top: 10%;">{{ title }}</h1>
	<div style="display: flex; align-items: center; justify-content: center; padding: 10%; max-width: 1024px; margin:0 auto;">
		{{ data|safe }}
	</div>
	<form action="/">
		<button type="submit" class="btn btn-primary btn-lg btn-block" style="position:fixed; bottom:0; border-radius:0px; height: 7%; font-size: 3em">다른 게시물</button>
	</form>
</body>
</html>

