<nav class="navbar bg-primary navbar-dark sticky-top navbar-expand-lg">
	<a class="navbar-brand" href="/">쓰크롤</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="nav navbar-nav navbar-right">
			{% if user is undefined or user is none or user == '' %}
			<li><a id="login" class="nav-link" href="/login">로그인</a></li>
			{% else %}
			<li><a id="recent" class="nav-link" href="/recent">최근 본 게시물</a></li>
			<li><a id="login" class="nav-link" href="/logout">로그아웃</a></li>
			{% endif %}
			<li><a id="wards" class="nav-link" href="/ward">와드</a></li>
			<!-- <li><a id="board" class="nav-link" href="#">자유게시판(준비)</a></li> -->
		</ul>
	</div>
</nav>
